body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.context-menu {
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 2px;
}
.context-menu button {
    background-color: rgba(0,255,255,0.5);
    border: none;
}
.context-menu button:hover {
    background-color: rgba(0,255,255,1);
}
.context-menu button:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.context-menu button:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.section {
    display: flex;
    flex-direction: column;
    width: calc(50% - 6px);
    margin: 3px;
}

.section > * {
    margin: 3px 0px;
}
.section > *:first-child {
    margin-top: 0px;
}
.section > *:last-child {
    margin-bottom: 0px;
}

.preview-section .preview {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.playlist-section {
    height: 70%;
    max-height: 70%;
}
.playlist-items {
    overflow-y: auto;
}
.playlist-item.selected {
    border: 2px solid blue;
    cursor: initial;
}
.playlist-item {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0px;
}
.playlist-item > * {
    margin: 0px;
}
.playlist-item > p {
    white-space: nowrap;
    overflow: hidden;
}
.playlist-item > p.selected {
    background-color: cyan;
}

table.left-controls-section, table.right-controls-section {
    width: unset;
    border: 1px solid grey;
    border-radius: 20px;
    align-self: center;
    padding: 5px;
}
.controls-row > * {
    border-bottom: 1px solid grey;
    padding: 5px 0px;
}
.controls-row:last-child > * {
    border: none;
}
.controls-row td {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.controls-row td > * {
    width: 150px;
    margin: 0px 5px;
}
.controls-row td button {
    min-height: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
}

button {
    border-radius: 20px;
    width: 150px;
}