body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.context-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 2px;
}
.context-menu button {
    background-color: rgba(0,255,255,0.5);
    border: none;
}
.context-menu button:hover {
    background-color: rgba(0,255,255,1);
}
.context-menu button:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.context-menu button:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.playlist-section, .preview-section {
    display: flex;
    flex-direction: column;
    width: calc(50% - 6px);
    height: 75%;
    margin: 3px;
}

.playlist-section > * {
    margin: 3px 0px;
}
.playlist-section > *:first-child {
    margin-top: 0px;
}
.playlist-section > *:last-child {
    margin-bottom: 0px;
}

.preview-section #setup-preview-btn {
    align-self: center;
    justify-self: center;
}
.preview-section .preview, .preview-section iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.playlist-setup-section {
    width: 500px;
    margin: auto;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.playlist-setup-section #playlist-setup-text {
    margin-bottom: 10px;
}
.playlist-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.playlist-section-header h1 {
    margin-right: auto;
}
.playlist-section-header .button {
    width: 40px;
    height: 40px;
}
.slides {
    overflow-y: auto;
}
.slide.selected {
    border: 2px solid blue;
}
.slide {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0px;
}
.slide > * {
    margin: 0px;
}
p.subslide-preview {
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0);
}
p.subslide-preview:hover {
    border: 1px solid cyan;
}
p.subslide-preview.selected {
    background-color: cyan;
}
.playback-controls {
    display: flex;
    flex-direction: row;
}
.playback-controls * {
    margin: 0px 10px;
}
.playback-controls .button {
    margin: 0px;
}
.playback-controls > p {
    margin: auto 0px;
}

.controls-section {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.control-group {
    padding: 0px 5px;
    border-right: 1px solid grey;
}
.control-group:last-child {
    border-right: none;
}
.control-group h6 {
    margin: 0px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}
.control-group div {
    display: flex;
    flex-direction: row;
}
.control-group div .button {
    margin: 0px 5px;
    width: 70px;
    height: 70px;
}

#remote-control-btn {
    position: relative;
}
#ws-connection-dot {
    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 10px;
    height: 10px;
    border-radius: 5px;
}
#ws-connection-dot[data-status=connected] {
    background-color: lime;
}
#ws-connection-dot[data-status=disconnected] {
    background-color: red;
    animation: blinker 2s linear 10;
}