body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#ws-connect-btn {
    position: relative;
}
#ws-connection-dot {
    position: absolute;
    right: 1vw;
    bottom: 1vw;

    width: 5vw;
    height: 5vw;
    border-radius: 5vw;
}
#ws-connection-dot[data-status=connected] {
    background-color: lime;
}
#ws-connection-dot[data-status=disconnected] {
    background-color: red;
    animation: blinker 2s linear 10;
}

.text-button {
    height: 50px;   
}
.icon-button {
    width: 20vh;
    height: 20vh;
}