body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: hidden;
    font-size: 5vh;
    align-items: center;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.section > * {
    margin: 5px 0px;
}
.section > *:first-child {
    margin-top: 0px;
}
.section > *:last-child {
    margin-bottom: 0px;
}

button {
    border-radius: 20px;
    font-size: 5vh;
}